<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Dao.empMapper">

    <select id="getById" resultType="com.example.demo.PoJo.employee">

        SELECT * FROM employee <where>

                                   <if test="id != null">

                                         id =#{id}

                                   </if>

                               </where>


    </select>
    <update id="updateById">

        UPDATE employee SET lastName = #{lastName},email = #{email},gender = #{gender},d_id = #{dId}  WHERE id = #{id}

    </update>

</mapper>