<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Dao.empMapper">

    <resultMap id="selectEmployee" type="com.example.demo.PoJo.employee">
        <id property="id" column="id"></id>
        <result property="lastName" column="lastName"></result>
        <result property="email" column="email"></result>
        <result property="gender" column="gender"></result>
        <result property="dId" column="d_id"></result>

    </resultMap>

    <select id="getById" resultMap="selectEmployee">

        SELECT * FROM employee <where>

                                   <if test="id != null">

                                         id =#{id}

                                   </if>

                               </where>


    </select>
    <update id="updateById">

        UPDATE employee <trim prefix="set" suffixOverrides=",">
                             
                            <if test="lastName!=null">

                                lastName = #{lastName},
                            </if>
                            <if test="email!=null">

                                email = #{email},

                            </if>
                            <if test="gender!=null">
                                gender = #{gender},
                            </if>
                            <if test="dId!=null">

                                d_id = #{dId}

                            </if>
        
        
        
                        </trim>
        

    
        WHERE id = #{id}

    </update>

</mapper>